body {
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 30px;
    font-size: 20px;
    padding: 10px;
}

.container {

    margin: 10px 250px 10px 250px;
    background-color: lightyellow;
    padding: 20px 40px 50px 40px;                   /* top | right | bottom | left */
    border: 1px solid burlywood;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea{

    width: 50%;
    padding: 15px;
    border: 1px solid coral;
    border-radius: 5px;

}


fieldset{
    background-color: white;
    border: 1px solid coral;
    border-radius: 5px;

}   


input[type="submit"] {

    width: 100%;
    background-color: lightsalmon;
    padding: 10px;
    border: none;
    border-radius: 5px ;
    cursor: pointer;

    
}
